.task {
    display: flex;
    justify-content: space-between;
    height: 48px;
    max-width: 1228px;
    margin: 8px 0 0 0;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.08);
}
.checkbox {
    display: flex;
    padding-left: 12px;
    align-items: center;
    justify-content: center;
}
.checkbox input {
    cursor: pointer;
}
.body {
    display: flex;
    align-items: center;
    width: 92%;
    padding-left: 10px;
    font-size: 14px;
}
.buttonCase {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 5%;
}
