.completed_area {
    width: 530px;
    margin: 24px 8px 0 46px;
}
.completed_tasks {
    text-decoration: line-through;
    color: rgb(163, 163, 163);
}
.completed_tasks input {
    color: rgb(163, 163, 163);
}
.button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}

@media screen and (max-width: 896px) {
    .completed_area {
        width: 85%;
    }
}