.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);
}
.logoBoard {
    width: 3%;
    font-size: 6px;
}
.logoBoard p {
    padding: 0 0 0 15px;
}
.logo {
    width: 30px;
    height: 30px;
    padding: 15px 0 0 10px;
}
.desk {
    width: 75%;
    margin: auto 20px;
}
.desk h1 {
    font-size: 16px;
    font-weight: 700;
}
.auth {
    align-items: center;
    display: flex;
    margin: auto 7px auto 7px;
    justify-content: right;
    width: 20%;
    height: 32px;
}
.userName {
    font-size: 14px;
    margin: 0 8px 0 0;
}
@media screen and (max-width: 896px) {
    .desk {
        width: 40%;
        margin: auto 0;
    }
    .logoBoard {
        width: 20%;
    }
    .auth {
        width: 36%;
        justify-content: center;
    }
    .userName {
        font-size: 11px;
    }
    .logo {
        width: 30px;
        height: 30px;
        padding: 15px 0 0 25px;
    }
    .logoBoard p {
        padding: 0 0 0 27px;
        font-size: 9px;
    }
}