.sidebar {
    width: 52px;
    background: rgb(85, 13, 201);
}
@media screen and (max-width: 896px) {
    .sidebar {
        display: none;
    }
}
.logoBox {
    display: flex;
    justify-content: center;
    width: 52px;
    height: 32px;
    background: rgba(68, 11, 160, 1);
    margin: 25px 0 0 0;
}
.sideLogo {
    margin: auto;
    width: 16px;
    height: 15px;
}