* {
    margin: 0;
}

html, body, .App, #root {
    height: 100%;
}

.App {
    font-family: 'Open Sans', sans-serif;
    width: 1920px;
    margin: auto;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 64px);
}

@media screen and (max-width: 896px) {
    .App {
        width: 414px;

    }
    .wrapper {
        flex-direction: column;
        justify-content: start;
        height: calc(100% - 64px);
    }
}

h3 {
    font-size: 12px;
    color: rgba(85, 13, 201, 1);
    margin: 12px 0 0 24px;
}