* {
  margin: 0;
}
.App {
  font-family: 'Open Sans', sans-serif;
}
.navbar {
  width: 1920px;
  margin: auto;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  width: 1920px;
  height: 100vh;
  margin: auto;
}